/* Colors */
$white: #fff;
$black: #000;
$red: #e21725;
$persimmon: rgba(226, 23, 37, 0.9);
$pale-sky-approx: #66747f;
$iron-approx: #d9dcdf;
$gray: #909090;
$chathams-blue: #175579;

/* Font family */
$font-base: 'Open Sans';
